@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: rgb(248, 12, 236);
    --branco: #FFFFFF;
    --rosa: rgb(22, 233, 198) ;
    --azul-degrade: linear-gradient(97.54deg, rgba(207, 29, 207, 0.541) 35.49%, #8aceff 165.37%);
    --fonte-principal: "font-family";
    --azul: rgb(9, 238, 238);
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}