@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: rgb(216, 81, 103);
    --branco: #FFFFFF;
    --rosa: rgb(228, 17, 105) ;
    --azul-degrade: linear-gradient(97.54deg, purple 35.49%, #326589 165.37%);
    --fonte-principal: "";
    --azul: aqua;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}